/* 基本样式 */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #27262b; /* 修改这里以改变 content 外的背景颜色 */
  }
  
  /* 导航栏 */
  .navbar {
    display: flex;
    justify-content: space-between; /* 左右对齐 */
    align-items: center; /* 垂直居中 */
    background-color: #27262b; /* 背景颜色 - 修改这里以改变颜色 */
    color: white; /* 文字颜色 */
    padding: 10px 60px; /* 内边距 */
    border-bottom: 1px solid #4a4a4a; /* 底部细线 */
    font-family: 'Microsoft YaHei', Courier, monospace;
    font-size: 1.2em; /* 将字体大小调整为原来的1.2倍 */
    height: 60px; /* 设置导航栏高度 */
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
  }

  .navbar-left, .navbar-right {
    flex: 1; /* 让左右元素平分空间 */
    text-align: center; /* 文字居中 */
    margin: 0 10px; /* 设置左右边距 */
  }
  
  .navbar-left {
    text-align: left; /* 靠左对齐 */
  }
  
  .navbar-right {
    text-align: right; /* 靠右对齐 */
  }
  
  /* 内容区域 */
  .content {
    margin: 20px auto 100px; /* 设置边距 - 修改这里以改变边距，底部边距为页脚高度，水平居中 */
    padding: 20px; /* 内边距 */
    background-color: #27262b; /* 背景颜色 - 修改这里以改变颜色 */
    border: 1px solid #27262b; /* 边框 */
    color: white; /* 内容区域内的文字颜色 */
    max-width: 1000px; /* 最大宽度限制 */
    width: 50%; /* 确保内容容器占据其父容器的全宽 */
    box-sizing: border-box; /* 确保内边距和边框包含在宽度内 */
    text-align: center; /* 水平居中对齐内容 */
  }
  
  .content-image {
    max-width: 100%; /* 图片最大宽度为内容区域的100% */
    height: auto; /* 保持图片比例 */
    margin-bottom: 20px; /* 图片下方间距 */
  }
  
  /* 圆角矩形按钮 */
  .rounded-button {
    background-color: #4a4a4a; /* 按钮背景颜色 */
    color: white; /* 按钮文字颜色 */
    border: none; /* 无边框 */
    padding: 10px 20px; /* 内边距 */
    font-size: 1em; /* 字体大小 */
    border-radius: 25px; /* 圆角 */
    cursor: pointer; /* 鼠标指针变为手型 */
    transition: background-color 0.3s ease, transform 0.3s ease; /* 动效 */
    margin-bottom: 60px; /* 下方间距 */
  }
  
  .rounded-button:hover {
    background-color: #666; /* 悬停时背景颜色 */
    transform: scale(1.05); /* 悬停时放大 */
  }
  
  /* 页脚 */
  .footer {
    position: fixed; /* 固定位置 */
    bottom: 0; /* 固定在底部 */
    left: 0;
    width: 100%; /* 宽度占全屏幕 */
    height: 100px; /* 增大页脚高度 */
    background-color: #27262b; /* 背景颜色 - 修改这里以改变颜色 */
    color: white; /* 文字颜色 */
    display: flex;
    align-items: center; /* 垂直居中 */
    padding: 0 20px; /* 内边距 */
    box-sizing: border-box; /* 确保内边距和边框包含在高度内 */
    border-top: 1px solid #4a4a4a; /* 页脚上方细线 */
    justify-content: center; /* 水平居中对齐 */
    font-family: 'Microsoft YaHei', Courier, monospace;
    letter-spacing: 1.5px; 
  }
  
  .footer-left {
    text-align: left; /* 文字左对齐 */
    margin-right: 30px; /* 右边距 */
    flex: 1; /* 占据三分之一的空间 */
    max-width: 300px; /* 最大宽度限制 */
  }
  
  .footer-right {
    display: flex;
    justify-content: flex-end; /* 右对齐 */
    gap: 28px; /* 图标之间的间距 */
    margin-left: 30px; /* 左边距 */
    flex: 2; /* 占据三分之二的空间 */
    max-width: 500px; /* 最大宽度限制 */
  }
  
  .icon {
    width: 30px; /* 图标宽度 */
    height: 30px; /* 图标高度 */
  }